#calculator {
    border: 1px solid rgb(132, 129, 129);
    border-radius: 5px;
    width: 200px;
    background-color: rgb(15, 15, 15);
}
#display {
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 50px;
    height: 40px;
    margin: 4px;  
}